# Python
__pycache__/
*.pyc
.venv/

# PyInstaller
backend/build/
backend/dist/
backend/*.spec

# OCR outputs
backend/output/

# Test/output files
*.pdf
*.txt

# Release zips
release/*.zip

# Windows/macOS
Thumbs.db
.DS_Store
extension/web-ext-artifacts/
